

<p-toast></p-toast>
<div class="ui-g" style="margin-top: 60px;width: 100%">
        <div class="ui-g-12">
          <img style="margin-left:46%;width:70px" src="../../assets/reach.PNG">
        </div>
      </div>

<div  class="div-adjust" style="margin-top:150px;">
    <div class="ui-g">
        <div *ngIf="showForm" class="ui-lg-4 ui-md-6 ui-sm-8 ui-lg-offset-4 ui-md-offset-3 ui-sm-offset-2">
            <p-card>
                <form  class="form" #myForm="ngForm" (ngSubmit)="submit(myForm.value);myForm.reset();">
                  
                    <div class="ui-g">

                        <div class="ui-lg-8 ui-md-12 ui-sm-12">
                            <p style="margin-bottom:-15px;"><b>New Password</b></p>
                        </div>


                    </div>

                    <div class="ui-g">
                        <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                            <input type="password" name="newPassword"
                                style="Width:100%;height:30px;border:1px solid; border-radius: 3px;text-indent: 5px;"
                                placeholder="Enter New Password" pInputText [(ngModel)]="newPassword">
                        </div>

                    </div>

                    <div class="ui-g">

                        <div class="ui-lg-10 ui-md-12 ui-sm-12">
                            <p style="margin-bottom:-15px;"><b>Confirm Password</b></p>
                        </div>


                    </div>

                    <div class="ui-g">
                        <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                            <input type="password" name="confirmPassword"
                                style="Width:100%;height:30px;border:1px solid; border-radius: 3px;text-indent: 5px;"
                                placeholder="Confirm New Password" pInputText [(ngModel)]="confirmPassword">
                        </div>

                    </div>
                    <div class="ui-g">
                        <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                            <button pButton style="width:100%;border-radius: 3px;" type="submit" label="Login"
                                class="ui-button-info"></button>
                        </div>

                       


                    </div>
                </form>
            </p-card>
        </div>
       <div style="text-align: center;" *ngIf="!showForm" class="ui-lg-6 ui-md-8 ui-sm-8 ui-lg-offset-3 ui-md-offset-2 ui-sm-offset-2">
        <p-card>
            {{response}}
            </p-card>
       </div>
    </div>
</div>