

<div class="ui-g">
    <div class="ui-g-12" style="background-color: grey">
        <div class="ui-g">
            <div class="ui-g-3 ui-lg-3 ui-md-3 ui-sm-5" >
                <img src="../../assets/reach.PNG" width="30%" height="70px" style="margin-left:60%; margin-top:25px;">
            </div>
            <div class="ui-lg-1 ui-md-2 ui-sm-3">
                <ul type="none" style="margin-top:25px;">
                    <li><a>Home</a></li>
                    <li><a>Products</a></li>
                    <li><a>Pricing</a></li>
                    <li><a>Contact</a></li>
                </ul>
            </div>
            <div class="ui-lg-2 ui-md-3 ui-sm-3">
                <ul type="none" style="margin-top:25px;">
                    <li><a>About us</a></li>
                    <li><a>Terms of service</a></li>
                    <li><a>Privacy Policy</a></li>
                    <li><a>Security</a></li>
                </ul>
            </div>
            <div class="ui-g-5 ui-lg-5 ui-md-4 ui-sm-3" style="margin-top:25px;">
                <a href="#" style="margin-left:60%;color:lightgrey;" class="fa fa-twitter"></a>
                <a href="#" style="margin-left:3%;color:lightgrey;" class="fa fa-facebook"></a>
                <a href="#" style="margin-left:3%;color:lightgrey;" class="fa fa-globe"></a>
            </div>
        </div>
    
    </div>
</div>