
<div class="ui-g">

    <div class="ui-lg-4 ui-md-6 ui-sm-12 ui-lg-offset-2">
        <p-card>
            <h4 style="font-weight: 800;">ASSESMENT FOR INCLUSION</h4>
            <hr style="height:3px;background-color:darkblue">
            <h4 style="font-weight: 800;">Lorem ipsum, or lipsum as it is</h4>
            <p style="text-align: justify">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used
                in laying out print, graphic or web designs.</p>
                <br>
                <div class="row">
                    <div class="col-g-4 col-lg-5 col-md-10 col-sm-12">
                            <input type="text" style="Width:100%;border-radius: 2px;border:1px solid;margin-top:9px;" placeholder="Your work Email" pInputText [(ngModel)]="property"/>
                    </div>
                    <div class="ui-g-4 ui-lg-5 ui-md-10 ui-sm-12">
                            <button pButton style="width:100%;border-radius: 3px;" type="button" label="Get Started" class="ui-button-info"></button>
                    </div>
                </div>
        </p-card>
    </div>
    <div class="ui-lg-4 ui-md-6 ui-sm-12">
            <p-card>
                <div style="width:100%;height:200px; border:1px solid; border-radius: 5px;">
                    <img src="../../assets/Cap1.PNG" alt="" width="100%" height="200px;">
                </div>
            </p-card>
    </div>
</div>