<!-- 
<div class="bg">
  <p-toast></p-toast>


  <div class="ui-g-12" style="width: 80%;
  margin-top:20px;
      font-size: 26px;
      margin-left: 10%;
      text-align: center;
      ">
    <p-toast></p-toast>


    <p-card header="Enter your Information to Login">
      <div class="ui-g ui-fluid">
        <hr style="height:2px;width:100%;" />
        <form style="width:100%;" #myForm="ngForm" (ngSubmit)="login(myForm.value)">
          <div class="ui-g">
            <div class="ui-md-2 ui-lg-3"></div>
            <div class="ui-md-8 ui-lg-6 ui-sm-12">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon" style="width:30%;font-size:15px; font-weight: bold;">Email</span>
                <input type="email" [(ngModel)]="email" required name="email" pInputText />
              </div>
            </div>
          </div>
          <div style="margin-top:10px" class="ui-g">
            <div class="ui-md-2 ui-lg-3"></div>
            <div class="ui-md-8 ui-lg-6 ui-sm-12">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon" style="width:30%;font-size:15px; font-weight: bold;">Password</span>
                <input type="password" required [(ngModel)]="password" name="password" pInputText />
              </div>
            </div>
          </div>
          <div style="margin-top:20px" class="ui-g">
            <div class="ui-md-3 ui-lg-3"></div>
            <div class="ui-md-6 ui-lg-6 ui-sm-12">
              <button [disabled]="myForm.invalid" class="ui-button-info" pButton type="submit" label="Log In"
                style="margin-top: 0px;width:100%; font-weight: bold;"></button>
            </div>
          </div>
          <div style="margin-top:5px" class="ui-g">
            <div class="ui-md-3 ui-lg-3"></div>
            <div class="ui-md-6 ui-lg-6 ui-sm-12">
              <p class=".ui-button-warning mark" (click)="routeToForgetPassComponent()"
                style="text-align:center;cursor: pointer;text-decoration: underline;">I forgot the password</p>
            </div>
          </div>


        </form>
      </div>
    </p-card>
  </div>
</div> -->


<p-toast></p-toast>
<div class="ui-g" style="margin-top: 60px;width: 100%">
  <div class="ui-g-12">
    <img style="margin-left:46%;width:70px" src="../../assets/reach.PNG">
  </div>
</div>

<div class="div-adjust" style="margin-top:30px;">
  <form class="ui-g" #myForm="ngForm" (ngSubmit)="login(myForm.value)">
    <div class="ui-g-3 ui-lg-4 ui-md-6 ui-sm-10 ui-sm-offset-1 ui-lg-offset-4 ui-md-offset-3">
      <p-card>
        <div class="form">


          <div class="ui-g">

            <div class="ui-g-4">
              <p><b>Accounts</b></p>
            </div>


          </div>

          <div class="ui-g">
            <div class="ui-g-10 ui-lg-10 ui-md-10 ui-sm-10">
              <input type="email" #e="ngModel" email style="Width:100%; border:1px solid; border-radius: 3px;" size="30"
                placeholder="Enter Your Username or Email" required name="email" pInputText [(ngModel)]="email" />
                <p class="alert alert-danger" style="margin:0px" *ngIf="e.errors && e.errors.email && e.touched">Email is invalid</p>
            </div>

          </div>

          <div class="ui-g">

            <div class="ui-g-4">
              <p><b>Password</b></p>
            </div>


          </div>

          <div class="ui-g">
            <div class="ui-g-10 ui-l-10 ui-m-10 ui-s-10">
              <input type="password" style="Width:100%;border:1px solid; border-radius: 3px;"
                placeholder="Enter Your Password" required name="password" pInputText [(ngModel)]="password" />
            </div>

          </div>
          <div class="ui-g">
            <div class="ui-g-10 ui-l-10 ui-m-10 ui-s-10">
              <button [disabled]="myForm.invalid" pButton style="width:100%;border-radius: 3px;" type="submit"
                label="Login" class="ui-button-info"></button>
            </div>

            <div class="ui-g">

              <div class="ui-g-12">
                <p><span class="ui-button-warning mark" style="cursor: pointer" (click)="routeToForgetPassComponent()">Lost
                    your password?</span></p>
              </div>
              <div class="ui-g-12">
                <p><span class="ui-button-warning mark" style="cursor: pointer" (click)="routeToOnboarding()">Don't have an account? Sign up now</span></p>
              </div>



            </div>

          </div>
        </div>
      </p-card>
    </div>
  </form>
</div>