.loading-indicator {
    position: relative;
    z-index: 999;
   
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    }
    
    @keyframes ui-progress-spinner-color {
        100%,
        0% {
            stroke: #208dd6;
        }
        40% {
            stroke: #e4e8eb;
        }
        66% {
            stroke: #2171b3;
        }
        80%,
        90% {
            stroke: #006eff;
        }
    }