<div class="ui-g">
    <div class="ui-g-3 ui-lg-3 ui-md-3 ui-sm-3 "></div>
    <div class="ui-g-3 ui-lg-3 ui-md-3 ui-sm-3">
        <div class="ui-g">
            <div class="ui-g-4 ui-lg-4 ui-md-12 ui-sm-12">
                    <p style="margin-bottom: -15px;"><b>First name</b></p>

                 </div>

                 <div class="ui-g-10 ui-l-10 ui-m-10 ui-s-12">
                            <input type="text" style="Width:100%;height:35px;border:1px solid;border-radius: 3px;text-indent:9px;" placeholder="Enter Your Username or Email" pInputText [(ngModel)]="property"/>
                    </div>
                    <div class="ui-g-4">
                            <p style="margin-bottom: -15px;"><b>Email</b></p>
        
                         </div>
        
                         <div class="ui-g-10 ui-l-10 ui-m-10 ui-s-10">
                                    <input type="text" style="Width:100%;height:35px;border:1px solid;border-radius: 3px;text-indent:9px;" placeholder="Enter Your Username or Email" pInputText [(ngModel)]="property"/>
                            </div>
                            <div class="ui-g-4">
                                    <p style="margin-bottom: -15px;"><b>Password</b></p>
                
                                 </div>
                
                                 <div class="ui-g-10 ui-l-10 ui-m-10 ui-s-10">
                                            <input type="text" style="Width:100%;height:35px;border:1px solid;border-radius: 3px;text-indent:9px;" placeholder="Enter Your Username or Email" pInputText [(ngModel)]="property"/>
                                    </div>


    
             </div>

             
             </div>

    <div class="ui-g-3"> 

            <div class="ui-g">
                    <div class="ui-g-4">
                            <p style="margin-bottom: -15px;"><b>Last name</b></p>
        
                         </div>
        
                         <div class="ui-g-10 ui-l-10 ui-m-10 ui-s-10">
                                    <input type="text" style="Width:100%;height:35px;border:1px solid;border-radius: 3px;text-indent:9px;" placeholder="Enter Your Username or Email" pInputText [(ngModel)]="property"/>
                            </div>
                            <div class="ui-g-4">
                                    <p style="margin-bottom: -15px;"><b>Group name</b></p>
                
                                 </div>
                
                                 <div class="ui-g-10 ui-l-10 ui-m-10 ui-s-10">
                                            <input type="text" style="Width:100%;height:35px;border:1px solid;border-radius: 3px;text-indent:9px;" placeholder="Enter Your Username or Email" pInputText [(ngModel)]="property"/>
                                    </div>
        
        
            
                     </div>
    </div>
    <div class="ui-g-3"></div>

    

</div>
<div class="ui-g">
        <div class="ui-g-3"></div>
        <div class="ui-g-6">
                <button pButton style="width:92%;border-radius: 3px;" type="button" label="Login" class="ui-button-info"></button>
                <p><a>Don't have an account? Sign up now</a></p>
                     
        </div>
    </div>