
<div class="ui-g" style="margin-top: 60px;width: 100%">
                <div class="ui-g-12">
                  <img style="margin-left:46%;width:70px" src="../../assets/reach.PNG">
                </div>
              </div>
<div class="ui-g">
        <div class="ui-g-8 ui-g-offset-2">
                <div style="width: 100%" class="ui-g">
                        <div class="ui-g-12">
                                <p-tabMenu  styleClass="ui-g" [style]="{borderStyle:'hidden',width:'100%'}"
                                        [model]="items2" [activeItem]="activeItem">

                                        <ng-template   class="ui-g-4" pTemplate="item" let-item let-i="index">

                                                <div (click)="activateMenu(i+1)" style="height:100% !important;text-align: center; min-width: 8em;width: 255px">


                                                        <div style="height: 100% !important" class="ui-g">
                                                                <div class="ui-g-2"> 
                                                                         <span *ngIf="active<=i+1" style="font-weight:bold;color: black;font-size: 30px; ">{{i+1}}</span> 
                                                                     <span>   <img *ngIf="active>i+1" style="width:34px" src="../../assets/check.png"></span>
                                                                </div>
                                                                <div class="ui-g-10">
                                                                       <span style="font-weight: bold">{{item.label}}</span> 
                                                                        <div>{{item.text}}</div>
                                                                </div>
                                                        </div>


                                                </div>
                                        </ng-template>

                                </p-tabMenu>
                        </div>
                </div>

                <div *ngIf="active==1" class="ui-g-12">
                        <div class="ui-g">

                                <div class="ui-lg-6 ui-md-12">
                                        <div class="ui-g">
                                                <div class="ui-lg-12 ui-md-12 ui-g-12">
                                                        <p style="margin-bottom: -15px;"><b>First name</b></p>

                                                </div>

                                                <div class="ui-lg-12 ui-md-12 ui-g-12">
                                                        <input type="text"
                                                                style="Width:100%;height:35px;border:1px solid;border-radius: 3px;text-indent:9px;"
                                                                placeholder="Enter Your Username or Email" pInputText
                                                                [(ngModel)]="property" />
                                                </div>
                                                <div class="ui-lg-12 ui-md-12 ui-g-12">
                                                        <p style="margin-bottom: -15px;"><b>Email</b></p>

                                                </div>

                                                <div class="ui-lg-12 ui-md-12 ui-g-12">
                                                        <input type="text"
                                                                style="Width:100%;height:35px;border:1px solid;border-radius: 3px;text-indent:9px;"
                                                                placeholder="Enter Your Username or Email" pInputText
                                                                [(ngModel)]="property" />
                                                </div>
                                                <div class="ui-lg-12 ui-md-12 ui-g-12">
                                                        <p style="margin-bottom: -15px;"><b>Password</b></p>

                                                </div>

                                                <div class="ui-lg-12 ui-md-12 ui-g-12">
                                                        <input type="text"
                                                                style="Width:100%;height:35px;border:1px solid;border-radius: 3px;text-indent:9px;"
                                                                placeholder="Enter Your Username or Email" pInputText
                                                                [(ngModel)]="property" />
                                                </div>



                                        </div>


                                </div>



                                <div class="ui-lg-6">
                                        <div class="ui-g">
                                                <div class="ui-g-12 ">
                                                        <p style="margin-bottom: -15px;"><b>Last name</b></p>

                                                </div>

                                                <div class="ui-g-12 ui-lg-12 ">
                                                        <input type="text"
                                                                style="Width:100%;height:35px;border:1px solid;border-radius: 3px;text-indent:9px;"
                                                                placeholder="Enter Your Username or Email" pInputText
                                                                [(ngModel)]="property" />
                                                </div>
                                                <div class="ui-g-12">
                                                        <p style="margin-bottom: -15px;"><b>Group name</b></p>

                                                </div>

                                                <div class="ui-g-12">
                                                        <input type="text"
                                                                style="Width:100%;height:35px;border:1px solid;border-radius: 3px;text-indent:9px;"
                                                                placeholder="Enter Your Username or Email" pInputText
                                                                [(ngModel)]="property" />
                                                </div>

                                        </div>

                                </div>

                                <div class="ui-g-12">
                                        <div class="ui-g">
                                                <div class="ui-g-12">
                                                        <button (click)="change()" pButton style="width:100%;border-radius: 3px;"
                                                                type="button" label="Continue to select your price plan"
                                                                class="ui-button-info"></button>
                                                        <p><a>Don't have an account? Login</a></p>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>


