<!-- <div class="ui-g" style="width: 100%;
            font-size: 26px;
            text-align: center;
            margin-top: 20px;
            ">
    <div class="ui-lg-3 ui-md-3 ui-xl-3 ui-sm-12"></div>
    <div class="ui-lg-5  ui-xl-5 ui-md-4 ui-sm-12">
        <div style="text-align: center;color:black;font-weight: 100;">
            <span style="cursor: pointer" (click)="routeToMainComponent()">
                REACH&TEACH
            </span></div>
    </div> -->

<!-- <div class="ui-lg-4 ui-xl-4 ui-md-5 ui-sm-12">
        <img src="https://img.icons8.com/metro/26/000000/user-male-circle.png">
        <span style="font-size:18px;color:rgb(43, 41, 41)"> {{user}} </span>
        <p-dropdown #dd [style]="{fontSize: '18px',margin:'5px'}" (onChange)="dropdownchange(dd)"
            [dropdownIcon]="'pi pi-sort-amount-down-alt'" [options]="dropItems" [(ngModel)]="selectedOption">
        </p-dropdown>
    </div> -->


<!-- </div> -->
<!-- 
<div *ngIf="showForm">
<p-card [style]="{textAlign:'center',marginTop:'10px'}" header="Change Password">
    <div class="ui-g ui-fluid">
        <hr style="height:2px;width:100%;" />
        <form style="width:100%;" #myForm="ngForm" (ngSubmit)="submit(myForm.value);myForm.reset();">
            <div class="ui-g">

                <div class="ui-g-1 ui-xl-2 ui-lg-2 "></div>
                <div style="border:1px solid black;" class="ui-xl-8 ui-lg-8 ui-g-10 ui-md-10 ui-sm-12">
                    <p style="text-align: right"><img style="cursor: pointer;" (click)="routeToMainComponent()"
                            src="https://img.icons8.com/windows/24/000000/cancel.png"></p>



                    <div class="ui-g">
                        <div class="ui-md-2 ui-lg-3"></div>
                        <div class="ui-md-8 ui-lg-6 ui-xl-6 ui-sm-12">
                            <div class="ui-inputgroup">
                                <input type="password" placeholder="Current Password"
                                    style="font-size:18px;text-align: center" [(ngModel)]="password" required
                                    name="currentPassword" pInputText />
                            </div>
                        </div>
                    </div>
                    <div style="margin-top:10px" class="ui-g">
                        <div class="ui-md-2 ui-lg-3 ui-xl-3"></div>
                        <div class="ui-md-8 ui-lg-6 ui-xl-6 ui-sm-12">
                            <div class="ui-inputgroup">

                                <input type="password" placeholder="new password"
                                    style="font-size:18px;text-align: center;" required [(ngModel)]="newPassword"
                                    name="newPassword" pInputText />
                            </div>
                        </div>
                    </div>
                    <div style="margin-top:10px" class="ui-g">
                        <div class="ui-md-2 ui-lg-3 ui-xl-3"></div>
                        <div class="ui-md-8 ui-lg-6 ui-xl-6 ui-sm-12">
                            <div class="ui-inputgroup">

                                <input type="password" placeholder="comfirm password"
                                    style="font-size:18px;text-align: center;" required [(ngModel)]="confirmPassword"
                                    name="confirmPassword" pInputText />
                            </div>
                        </div>
                    </div>
                    <div style="margin-top:20px" class="ui-g">
                        <div class="ui-md-3 ui-lg-3  ui-xl-3"></div>
                        <div class="ui-md-6 ui-lg-6 ui-xl-6 ui-sm-12">
                            <button [disabled]="myForm.invalid" class="ui-button-info" pButton type="Change Password"
                                label="Save" style="margin-top: 0px;width:100%; font-weight: bold;"></button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</p-card>
</div>

<div style="text-align: center" *ngIf="!showForm" >
    <h1>Incorrect token, no such token to reset the password</h1>
</div>
<p-toast></p-toast> -->


<div *ngIf="showForm" class="div-adjust" style="margin-top:150px;">
    <div class="ui-g">
        <div class="ui-lg-4 ui-md-6 ui-sm-8 ui-lg-offset-4 ui-md-offset-3 ui-sm-offset-2">
            <p-card>
                <form class="form">
                    <div class="ui-g">

                        <div class="ui-lg-8 ui-md-12 ui-sm-12">
                            <p style="margin-bottom:-15px;"><b>Old Password</b></p>
                        </div>


                    </div>

                    <div class="ui-g">
                        <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                            <input type="text"
                                style="Width:100%;height:30px; border:1px solid; border-radius: 3px;text-indent: 5px;"
                                size="30" placeholder="Enter Old Password" pInputText [(ngModel)]="property" >
                        </div>

                    </div>

                    <div class="ui-g">

                        <div class="ui-lg-8 ui-md-12 ui-sm-12">
                            <p style="margin-bottom:-15px;"><b>New Password</b></p>
                        </div>


                    </div>

                    <div class="ui-g">
                        <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                            <input type="password"
                                style="Width:100%;height:30px;border:1px solid; border-radius: 3px;text-indent: 5px;"
                                placeholder="Enter New Password" pInputText [(ngModel)]="property" >
                        </div>

                    </div>

                    <div class="ui-g">

                        <div class="ui-lg-10 ui-md-12 ui-sm-12">
                            <p style="margin-bottom:-15px;"><b>Confirm Password</b></p>
                        </div>


                    </div>

                    <div class="ui-g">
                        <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                            <input type="password"
                                style="Width:100%;height:30px;border:1px solid; border-radius: 3px;text-indent: 5px;"
                                placeholder="Confirm New Password" pInputText [(ngModel)]="property" >
                        </div>

                    </div>
                    <div class="ui-g">
                        <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                            <button pButton style="width:100%;border-radius: 3px;" type="button" label="Login"
                                class="ui-button-info"></button>
                        </div>

                        <div class="ui-g">

                            <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                                <p><a style="color:black;">Lost your password?</a></p>
                            </div>
                            <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                                <p><a style="color:black;">Don't have an account? Sign up now</a></p>
                            </div>



                        </div>

                    </div>
                </form>
            </p-card>
        </div>
    </div>
</div>
